<script src="{{ root_url }}/javascripts/jquery.gravatar.min.js"></script>
<script>
  jQuery(function($) {
    $('.gravatar').gravatar('ezilocchi');
  });
</script>

<section>
  <h1>About Me</h1>
  <div class="gravatar">
    <div class="displayName"></div>
    <div class="email"></div>
    <div>
      <div class="thumbnailUrl" style="width:40%; float:left; padding-top:10px"></div>
      <div class="urls" style="width:60%; float:left"></div>
    </div>
  </div>
  <p>I'm currently working at <a href="https://twitter.com/ride" target="_blank">@ride</a></p>
</section>
